@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  background: #17181c;
  color: white;
  font-family: "Rubik", sans-serif;
}
h1,
p {
  font-family: "Rubik", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.PhoneInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.PhoneInputCountry {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 5px;
}

.PhoneInputCountryIconImg {
  height: 30px;
}

.PhoneInputCountrySelect {
  width: 100%;
  background: none;
  border: 2px solid #2e3036;
  border-radius: 10px;
  padding: 8px;
}
.PhoneInputCountrySelect:focus {
  background: black;
}
.PhoneInputInput {
  width: 100%;
  background: none;
  border: 2px solid #2e3036;
  border-radius: 10px;
  padding: 8px;
}
.PhoneInputCountryIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
